<style type="text/css">
body{
    background-color: green;
}
.wrapper{
letter-spacing: 6px;

}
.boxes{
    text-align: center;
    padding: 40px;
}
#left-container{
    background-color: red;
}
#center-container{
    background-color: white;
}
#hanburger{
    outline: none;
    resize: none;
    border-radius: 10px;
}
#right-container{
    background-color: blue;
}

.burger-box{
    padding: 20px;
    background-color: gainsboro;
    margin: 5px;
}

</style>

  <div class="container-fluid wrapper">
     <div class="row">
         <div class="boxes col-sm-12 col-md-3 col-lg-3" id="left-container">
             <div class="row">
                 {{#each data}}
                 <div class="col-sm-12 burger-box">
                     
                     <div class="row">
                         <div class="col-sm-8">
                             {{burger_name}}

                         </div>
                         <div class="col-sm-4">
                             <button data-id="{{id}}" id="{{id}}">Eat it</button>

                         </div>
                     </div>
                     
                 </div>

               
                 {{/each}}
                 </div>

             

         </div>
         <div class="boxes col-sm-12 col-md-6 col-lg-6" id="center-container">
             <form action="/" method="POST">
             <textarea name="hanburger" id="hanburger" cols="30" rows="2" placeholder="Name your hambuger"></textarea>
             <button class="btn btn-warning btn-block">Save</button>
             
             
             </form>

         </div>
         <div class="boxes col-sm-12 col-md-3 col-lg-3" id="right-container">
            

         </div>
     </div>
  </div>
  
