
<form>
    <input class="form-value" type="hidden" value="{{devoured}}">
    <button class="delete-button" data-delete="{{id}}">DELETE</button>

    <button class="devour-button" value="{{devoured}}" data-id="{{id}}">devour it!</button>

</form>